body{
    background-color: #BBBBBB;
}
.comment {
    position: relative;
    margin: 0 0 70px;
    border: 2px solid;
    border-color: white ;
    border-bottom: 1px solid ;
    border-bottom-color: #BBBBBB;
    margin: 25px;
}
.comment:hover{
    border: 2px solid;
    border-color: #3399cc;
    border-radius: 2px;

}
.titulo{
   color: black;
}
.titulo:hover{
    color: black;
}


.comment-avatar {
    position: relative;
    float: left;
    z-index: 1;
}

.comment-avatar > img {
    border-radius: 50%;
    margin: 5px;
    height: 70px;
    width: 70px;
    margin-left: 5px;
}

.comment-content {
    padding-top: 10px;
    position: relative;
    padding: 10px;
    margin: 0 0 0 80px;
}
.comment-content .comment-meta {
    list-style: none;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 0;
}

.comment-content .comment-meta > li {
    display: inline-block;
}

.comment-content .comment-meta > li > a {
    color: #464646;
}

.comment-content .comment-meta > li > a:hover,
.comment-content .comment-meta > li > a:focus {
    color: #c78f53;
}
button:hover{
    color: #f1632a;
}

.nombre_usuario:hover{
    text-decoration: none;
    color: #464646;
}
body{
    background-color: red;
}
